body#landing-body #landing-chrome {
	position: fixed;
	z-index: 300;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	-webkit-box-sizing: border-box!important;
	-moz-box-sizing: border-box!important;
	box-sizing: border-box!important;
	border: 20px solid #fff!important;
	pointer-events: none;
}





body {
	margin:0;
	padding:0;
	background:#fff;
	color:#000;
	font-family: 'Roboto', sans-serif;
	display:block;
}
h2 {
	font-weight: 200;
	padding-top: 0px;
}
.wrapper {
	width:90%;
	max-width:960px;
	margin:0px auto;
	padding: 100px 20px;
}





section.sample{
    width:100%;
    background:top center no-repeat;
    position:relative;
    z-index: 1;
}





.right_buttons {
	position: fixed;
	bottom:25px;
	right:23px;
	overflow: hidden;
	z-index: 2;
	width:50%;
}
.right_buttons a {
	margin-right:3px;
	text-decoration: none;
}



.link_btn {
	background:red;
	display: inline-block;
	float:right;
	color:#fff;
	font-size:11px;
	padding:8px 15px;
}
.link_btn:hover {
	background:#cd2928;
	cursor:pointer;
}




.menu_btn {
	background:transparent;
	text-indent: -9999px;
	display: block;
	position: absolute;
	top:25px;
	right:40px;
	z-index:10;
	color:#fff;
	font-size:11px;
	width:50px;
	height:50px;
}
.menu_btn:hover {
	background:rgba(0,0,0,0.03);
	cursor:pointer;
}





.guide_btn {
	background:red;
	display: block;
	position: fixed;
	bottom:25px;
	left:25px;
	z-index:10;
	color:#fff;
	font-size:11px;
	padding:8px 15px;
}
.guide_btn:hover {
	background:#cd2928;
	cursor:pointer;
}