@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Blokk';
	src: url('../fonts/blokk/BLOKKRegular.eot');
	src: url('../fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/blokk/BLOKKRegular.woff') format('woff'),
		 url('../fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'feather';
	src:url('../fonts/feather/feather.eot?-9jv4cc');
	src:url('../fonts/feather/feather.eot?#iefix-9jv4cc') format('embedded-opentype'),
		url('../fonts/feather/feather.woff?-9jv4cc') format('woff'),
		url('../fonts/feather/feather.ttf?-9jv4cc') format('truetype'),
		url('../fonts/feather/feather.svg?-9jv4cc#feather') format('svg');
}

.ip-header {
	position: fixed;
	top: 0;
	z-index: 100;
	min-height: 480px;
	width: 100%;
	height: 100%;
	background: #4b5a5f;
	background: #4b5a5f url(../img/gray_bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
#ip-container {
}
.ip-header h1 {
	margin: 0;
}

.ip-logo,
.ip-loader {
	position: absolute;
	left: 0;
	width: 100%;
	opacity: 0;
	cursor: default;
	pointer-events: none;
}

.ip-logo {
	top: 0;
	height: 100%;
	-webkit-transform: translate3d(0,25%,0);
	transform: translate3d(0,25%,0);
}

.ip-loader {
	bottom: 40%;
}

.ip-header .ip-inner {
	display: block;
	margin: 0 auto;
}

.ip-header .ip-logo svg {
	min-width: 320px;
	max-width: 780px;
	width: 100%;
}

.ip-header .ip-logo svg path {
	fill: #ef6e7e;
}

.ip-header .ip-loader svg path {
	fill: none;
	stroke-width: 6;
}

.ip-header .ip-loader svg path.ip-loader-circlebg {
	stroke: #2a3337;
}

.ip-header .ip-loader svg path.ip-loader-circle {
	-webkit-transition: stroke-dashoffset 0.2s;
	transition: stroke-dashoffset 0.2s;
	stroke: #f7609a;
}

/* Content */
.ip-main {
	overflow: hidden;
	margin: 0 auto;
	padding: 100px 0 8em 0;
	width: 80%;
	max-width: 600px;
	position: relative;
}

.ip-main h2 {
	margin: 0;
	padding: 0.5em 0 1em;
	color: #be4856;
	text-align: center;
	font-size: 4.25em;
	font-size: 4vw;
	line-height: 1;
}

.browser {
	margin: 0 auto;
	padding-top: 8%;
	min-height: 400px;
	max-width: 1000px;
	width: 100%;
	border-radius: 8px;
	background: #fff url(../img/browser.png) no-repeat 50% 0;
	background-size: 100%;
	color: #d3d3d3;
}

.box {
	float: left;
	padding: 3.5em;
	width: 33.3%;
	font-size: 0.7em;
	line-height: 1.5;
}

.box p {
	font-family: 'Blokk', Arial, sans-serif;
}

[class^="icon-"]::before, 
[class*=" icon-"]::before {
	display: block;
	margin-bottom: 0.5em;
	padding: 0.5em;
	border-radius: 5px;
	background: #dfdfdf;
	color: #fff;
	text-align: center;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: 5em;
	font-family: 'feather';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bell:before {
	content: "\e006";
}

.icon-cog:before {
	content: "\e023";
}

.icon-heart:before {
	content: "\e024";
}

/* Animations */

/* Initial animation of header elements */
.loading .ip-logo,
.loading .ip-loader {
	opacity: 1;
	-webkit-animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loading .ip-loader {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes animInitialHeader {
	from { opacity: 0; -webkit-transform: translate3d(0,800px,0); }
}

@keyframes animInitialHeader {
	from { opacity: 0; -webkit-transform: translate3d(0,800px,0); transform: translate3d(0,800px,0); }
}

/* Header elements when loading finishes */
.loaded .ip-logo,
.loaded .ip-loader {
	opacity: 1;
}

.loaded .ip-logo {
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.85,0.85,1); }
}

@keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.85,0.85,1); transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

.loaded .ip-loader {
	-webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

/* Change the color of the logo */
.loaded .ip-logo svg path {
	-webkit-transition: all 0.5s ease 0.3s;
	transition: all 0.5s ease 0.3s;
	fill: #fff;
}

/* Header animation when loading finishes */
.loaded .ip-header {
	-webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}

/* Content animations */
.loaded .ip-main h2,
.loaded .ip-main .browser,
.loaded .ip-main .browser .box,
.loaded .envoy-demos {
	-webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loaded .ip-main .browser,
.loaded .ip-main .browser .box:first-child {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.loaded .ip-main .browser .box:nth-child(2) {
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

.loaded .ip-main .browser .box:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: translate3d(0,200px,0); }
}

@keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: translate3d(0,200px,0); transform: translate3d(0,200px,0); }
}

/* Change layout class for header */
.layout-switch .ip-header {
	position: absolute;
}

/* No JS */
.no-js .ip-header {
	position: relative;
	min-height: 0px;
}

.no-js .ip-header .ip-logo {
	margin-top: 20px;
	height: 180px;
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

.no-js .ip-header .ip-logo svg path {
	fill: #fff;
}

/* Media queries */

@media screen and (max-width: 45em) {

	.ip-main h2 {
		font-size: 2.25em;
		font-size: 10vw;
	}

	.box {
		width: 100%%;
	}

}






















a.btn_rsvp {
	display:inline-block;
	background: #fff;
	padding:14px 80px;
	border-radius:100px;
	font-size: 20px;
	font-weight: 400;
	color:#f7609a;
	text-decoration: none;
}
a.btn_rsvp:hover {
	position:relative;
	color:#000;
	opacity: 0.9;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
p.intro_copy
{
    width: 100%;
    display:block;
    text-align: center;
    overflow:hidden;
    font-size: 35px;
    font-weight:300;
    margin-top:50px;
    position:relative;
    border-top:1px dashed #fff;
    border-bottom:1px dashed #fff;
    padding:50px 50px;
}
ul.details {
	margin:0px;
	padding:0px;
}
ul.details li {
	list-style: block;
	float:left;
	text-align: center;
	list-style: none;
	width:33%;
	border-right:1px dashed rgba(255,255,255,0);
	min-height: 200px;
	font-weight: 200;
	font-size:16px;
}
ul.details li:last-child {
	border-right:0px;
}
h2.date {
	color:#fff;
	font-weight: 200;
	font-size: 42px;
}
h2.date span{
	display: block;
	font-size: 20px;
	padding-top: 10px;
	color:#fff;
}
.map_bg {
	background:#2d3537 url(img/map_bg.png) top center no-repeat;
	height:900px;
	padding-top:500px;
	opacity:1;
}
.location_txt {
	position:absolute;
	bottom:90px;
	text-align: center;
	display: block;
	width:100%;
}
.map_content {
	width:90%;
	margin:0px auto;
	text-align: center;
	color:#000;
}
.map_content p{
	font-size:30px;
}
.map_content p a{
	display:inline-block;
	width:82px;
	height:25px;
	text-indent: -9999px;
	position: relative;
	background: url(img/map_logo_envoy.png) 0px 0px no-repeat;
	top:7px;

}

a.btn_map {
	display:inline-block;
	background: transparent;
	border:1px solid #fff;
	border-color: #f7609a;
	padding:14px 80px;
	border-radius:100px;
	font-size: 20px;
	font-weight: 400;
	color:#f7609a;
	text-decoration: none;
}

a.btn_map:hover {
	position:relative;
	background: #f7609a;
	color:#fff;
	opacity: 1;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	margin:0px auto;
}
a.icon_envoy, a.icon_dribbble {
	height:48px;
	width:48px;
	text-indent: -9999px;
	background: transparent;
}
.rsvp_holder {
	background:#fff;
	border-top:1px solid #fafafa;
	padding: 80px 0px;
}
.rsvp_content {
	width:100%;
	max-width:600px;
	margin:0px auto;
}

.callout_holder {
	background:#fff;
	border-top:0px solid #fafafa;
	padding: 0px 0px;
	clear:both;
}
.callout_holder .callout_dribbble {
	width:50%;
	float:left;
	background: #9ba5a8;
}
.callout_holder .callout_dribbble a{
	background: #333;
	height:200px;
	width:100%;
	display:block;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:14px;
	letter-spacing: 1px;
	color:#dedede;
	font-weight: 200;
	padding-top: 64px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

}
.callout_holder .callout_dribbble a span{
	background: url(img/sm_logo_dribbble.png) 0px center no-repeat;
	height:34px;
	width:134px;
	text-indent: -9999px;
	display: block;
	margin: 0px auto;
	margin-bottom: 15px;
	clear:both;
}
.callout_holder .callout_dribbble a:hover {
	background: #f7609a;
}



.callout_holder .callout_envoy {
	background: #000;
	width:50%;
	float:left;

}
.callout_holder .callout_envoy a{
	background: #333;
	height:200px;
	width:100%;
	display:block;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:16px;
	letter-spacing: 1px;
	color:#dedede;
	font-weight: 200;
	padding-top: 64px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;

}

.callout_holder .callout_envoy a span{
	background: url(img/sm_logo_envoy.png) 0px center no-repeat;
	height:30px;
	width:100px;
	text-indent: -9999px;
	display: block;
	margin: 0px auto;
	margin-bottom: 15px;
	clear:both;
}
.callout_holder .callout_envoy a:hover {
	background: #EA503B
}
